body {
  padding-left: 25%;
  padding-right: 25%;
  padding-top:10px;
  font: 18px "", Helvetica, Arial, sans-serif;
  line-height: 1;
}

@media screen and (max-width: 1000px){
  body{
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 765px){
  body{
    padding-left: 5%;
    padding-right: 5%;
  }
}

h1{
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration:none;
  background-color:black;
}

h3{
  color: white;
  text-decoration:none;
  background-color:green;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.show-link {
  color: black;
  text-decoration: none;
}

h4{
  margin-top: 10px;
  margin-bottom: 9px;
}

.venue-link {
  color: white;
  text-decoration: none;
}

a {
  color: green;
}

#home {
  background-color: white;
  color: black;
  text-decoration:none;
  font-size: 180%;
}

footer {
  padding-top: 20px;
}

img {
  width: 100%;
}

hr {
  border: 0;
  background: #000;
  height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

#about {
  text-decoration:none;
  float: right;
  margin-top: -55px;
}

#tonight {
  padding-left: 20px;
}

#soon {
  padding-left: 20px;
}

#logo {
  height:70px;
  width:70px;
  margin-bottom:-14px;
  display:inline;
  padding-right: 12px;
}

.show {
  padding-left: 20px;
  padding-right: 20px;
}

#date {
  float: right;
  margin-top: -10px;
  font: 60px "", Helvetica, Arial, sans-serif;
}

.info {
  padding-top: 2px;
  padding-bottom: 3px;
}